# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out

# Ignore log files
logs

# Ignore IDEA files
.idea
.iml

# Ignore environment variables files
.env

# Ignore google api tokens
tokens

# Ignore certificates files
proxy/fullchain.pem
proxy/privkey.pem
